---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("laboratorio");
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}
type Props = CollectionEntry<"laboratorio">;

const post = Astro.props;
const { Content } = await post.render();
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{post.data.title}</title>
    </head>
    <body>
        <main style="max-width: 720px; margin: auto; padding: 2rem;">
            <h1 style="font-size: 2.5rem;">{post.data.title}</h1>
            <p>
                Publicado el: {
                    post.data.pubDate.toLocaleDateString("es-ES", {
                        year: "numeric",
                        month: "long",
                        day: "numeric",
                    })
                }
            </p>
            <hr />
            <article>
                <Content />
            </article>
        </main>
    </body>
</html>
